* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: black transparent;
  scrollbar-radius: 20px;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 20px;
}

body {
  background: url(images/back.png);
}

.loader {
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 80px;
  left: 49.5%;
  top: 48%;
  transform: translate(-50%, -50%);
}
.loader div {
  animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.loader div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: dimgray;
  margin: -4px 0 0 -4px;
}
.loader div:nth-child(1) {
  animation-delay: -0.036s;
}
.loader div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.loader div:nth-child(2) {
  animation-delay: -0.072s;
}
.loader div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.loader div:nth-child(3) {
  animation-delay: -0.108s;
}
.loader div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.loader div:nth-child(4) {
  animation-delay: -0.144s;
}
.loader div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.loader div:nth-child(5) {
  animation-delay: -0.18s;
}
.loader div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.loader div:nth-child(6) {
  animation-delay: -0.216s;
}
.loader div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.loader div:nth-child(7) {
  animation-delay: -0.252s;
}
.loader div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.loader div:nth-child(8) {
  animation-delay: -0.288s;
}
.loader div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.home {
  width: 80vw;
  height: 100vh;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main {
  position: absolute;
  height: 85vh;
  min-height: 820px;
  width: 37vw;
  min-width: 690px;
}

.dropdown {
  position: fixed;
  left: 2vw;
  top: 3vh;
  z-index: 1;
}

.dropbtn {
  color: black;
  font-size: 30px;
  width: 30px;
  border: none;
  cursor: pointer;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  padding: 10px;
  border-left: 1px solid black;
  transition: .3s ease;
  opacity: 0;
  pointer-events: none;
}

.show {
  opacity: 1;
  pointer-events: all;
}

.prima,
.chisono,
.galleria,
.collab,
.contatti {
  font-family: Arial;
  width: auto;
  font-size: 20px;
  color: black;
  cursor: pointer;
  -webkit-transition: color .1s;
  -o-transition: color .1s;
  transition: color .1s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.prima:hover,
.chisono:hover,
.galleria:hover,
.collab:hover,
.contatti:hover {
  color: black;
}


#preview {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transition: opacity 1.5s linear;
  -o-transition: opacity 1.5s linear;
  transition: opacity 1.5s linear;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
}


.frame {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.gallery {
  position: relative;
  top: 1vh;
  width: 80%;
  height: auto;
  margin: auto;
  column-count: 3;
  column-gap: 5px;
  line-height: 0;
}

.gallery a > img:only-child {    /*eliminate extra space at the bottom*/
  display: block;
}

#fotogallery {
  height: auto;
  width: 100%;
  margin-bottom: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.aboutme {
  width: 80%;
  height: 100vh;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}


.profilo {
  width: 400px;
  height: auto;
  margin-bottom: 20px;
}

.txt {
  font-size: 30px;
  width: 60%;
}

.contacts {
  width: 80%;
  height: 100vh;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 50px;
}

.contacts a {
  color: black;
  -webkit-text-decoration: underline dimgray;
          text-decoration: underline dimgray;
}

.slideframe {
  -webkit-transform: translateY(-100px);
      -ms-transform: translateY(-100px);
          transform: translateY(-100px);
}

@media screen and (max-width: 1024px) {
  .links {
    border: 0;
    border-radius: 10px;
    background: rgba(255, 255, 255, .3);
    backdrop-filter: blur(10px);
  }

  .main {
    height: 700px;
    min-height: auto;
    width: 70vw;
    min-width: auto;
  }

  .gallery {
    column-count: 2;
    margin-top: 100px;
  }

  @media screen and (max-width: 500px) {
    .main {
      height: 400px;
      min-height: auto;
      width: 90vw;
      min-width: auto;
    }

    .gallery {
      column-count: 1;
      width: 90%;
    }
  }

  .profilo {
    width: 70%;
    height: auto;
    margin-bottom: 20px;
    margin-right: 0;
    padding: 10px;
  }

  .txt {
    font-size: 20px;
    width: 80%;
    text-align: justify;
  }

  .contacts {
    font-size: 30px;
  }

  .contacts a {
    color: black;
    -webkit-text-decoration: underline dimgray;
            text-decoration: underline dimgray;
  }
}
